* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

/* Card */
.container {
  position: relative;
  width: 400px;
  height: 500px;
  padding-top: 110px; /* space for avatar */

  background: linear-gradient(135deg, #141e30, #243b55);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Avatar */
.image {
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);

  width: 170px;
  height: 170px;
  border-radius: 50%;

  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnSSxXHLqu5lsHYkFlZkvXuo2ZamNvdqLiCg&s");
  background-size: cover;
  background-position: center;

  border: 4px solid #8ad5ab;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

/* Intro text */
.intro {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.intro .roles {
  color: #23f574;
}



/* Details */
.details {
  margin-top: 12px;
  font-size: 16px;
  color: #e0e0e0;
  text-align: center;
}

.details span:first-child {
    color: rgb(188, 230, 231);
    font-weight: 800;
    font-size: larger;
}

.name {
  font-size: 22px;
  font-weight: 600;
}

.tagline {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.85;
}

.skills {
  margin-top: 10px;
  font-size: 14px;
  color: #7fffd4;
}


.socials {
  margin-top: 16px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.socials a {
  color: #e0e0e0;
  font-size: 30px;
  transition: color 0.3s, transform 0.3s;
}

.socials a:hover {
  color: #38ef7d;
  transform: translateY(-5px);
}

.btn {
  margin-bottom: 7px;
  padding: 10px 22px;

  background: #38ef7d;
  color: #141e30;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

  border-radius: 20px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background: #2fd06b;
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

