body {
    padding: 0;
    margin: 0;
    background-color: #eae2b7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: #fcbf49;
    border: 4px solid rgb(196, 205, 162);
    width: 650px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    flex-direction: column;
    padding-bottom: 10px;
    box-shadow: 0 6px 12px rgba(139, 0, 0, 0.6);

}

.creation-elements {
    margin: 10px;
}

input {
    width: 250px;
    border-radius: 6px;
    padding: 7px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

button {
    background-color: rgb(63, 173, 53);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    padding: 6px 10px;
    border-radius: 3px;
    margin-left: 3px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease;
    background-color: yellow;
    color: black;
}

.box {
    background-color: antiquewhite;
    width: 600px;
    border-radius: 4px;
    box-shadow:  0 4px 8px rgba(139, 0, 0, 0.4);
    padding: 2px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.box:hover {
    box-shadow: 0 6px 12px rgba(139, 0, 0, 0.6);
}


.box button {
    background-color: rgb(239, 66, 36);
    color: aliceblue;
    padding: 9px 15px;
    font: 1em sans-serif;
    border-radius: 4px;
}

.box button:hover {
    background-color: rgb(253, 97, 58);
}

.for_display {
    max-height: 430px;
    overflow-y: auto;
    padding: 6px;
}

/* .refresh_btn {
    width: 6px;
    height: 6px;
    background-image: url("https://icons8.com/icon/59872/refresh");
    background-position: center;
} */