body{
    padding: 0%;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: #fdf0d5;
    flex-wrap: wrap;
}

.title {
    padding: 20px;
    padding-top: 0px;
}
.container {
    border: 3px solid red;
    border-radius: 10px;
    padding: 60px;
    margin-top: 120px;
    background-color: #c9ada7;
}

h1 {
    color: #003049;
}


.elm button {
    padding: 20px 40px;
    border-radius: 6px;
    font-size:x-large;
    font-weight: 600;
    color: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 100px;
    margin: 5px;
    transition: transform 0.2s;
}

.btn:nth-of-type(1) {
    background-image: url("https://sihoonathan.github.io/rock-paper-scissors/assets/img/rock2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn:nth-of-type(2) {
    background-image: url("https://sihoonathan.github.io/rock-paper-scissors/assets/img/paper2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn:nth-of-type(3) {
    background-image: url("https://sihoonathan.github.io/rock-paper-scissors/assets/img/scissors.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(-90deg);
}

.elm button:hover {
    background-color: tomato;
    color: aqua;
    transform: scale(1.2);
}

.elm .btn:nth-of-type(3):hover {
  transform: rotate(-90deg) scale(1.2);
}

.for_reset {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
}

.for_reset button {
    padding: 4px 8px;
    background-color: steelblue;
    border-radius: 3px;
    font-size: small;
    font-weight: 800;
    color:seashell;
    font-family:  sans-serif;
}
.for_reset button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: wheat;
    color: red;
}

.box {
    display: flex;
    flex-direction:row;
    border: 2px solid black;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.display {
    width: 100%;
    margin-top: 15px;
    font-weight: 700;
    color: #2b2b2b;

}

.line {
    width: 100%;
    margin: 5px;
}

.line-1,
.line-2 {
    text-align: center;
}

.line-3 {
    text-align: center;
     /* color: #358a52;    */
    font-weight: 900;
}



